#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}
  
.site-layout-background {
    background: #fff;
}

.ant-layout-header {
   padding: 0px;
/* padding: 0 190px; */
}

.ant-menu-item.menuItem2.ant-menu-item-only-child {

}
.ant-menu-item.menuItem1.ant-menu-item-only-child{
    /* margin-left: 20px; */

}
.menu-header-logo-img{
    width: 80px;
    height: 50px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: seagreen;
}
.ant-menu-submenu-selected {
   color: seagreen;
}
.ant-menu-inline .ant-menu-item-selected::after {
    border-right-color: seagreen;
}
.ant-menu-item .ant-menu-item-only-child .ant-menu-item-selected {
    color: seagreen;
    background-color: aquamarine;
}
.ant-menu-item .ant-menu-item-only-child .ant-menu-item-active {
    color: tomato;
}
.ant-menu-item-selected {
    color: seagreen
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
background-color: whitesmoke;
}